<ion-view view-title="{{site}}">
  <ion-content class="padding">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <div class="card" ng-init="doRefresh()">
      <div class="list">
        <div class="item item-divider">
          <div class="title">Day Prices</div>
        </div>

        <a class="item item-thumbnail-left var-price" href="#">
          <img ng-src="img/{{site}}.png">
          <h2 class="var-price"><strong>Now:</strong> {{currentprice | number:2}}</h2>
          <h2 class="var-price"><strong>High:</strong> {{price.high | number:2}}</h2>
          <h2 class="var-price"><strong>Avg:</strong>  {{price.avg | number:2}}</h2>
          <h2 class="var-price"><strong>Low:</strong>  {{price.low | number:2}}</h2>

        </a>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        <div class="title">Variability</div>
      </div>

      <div class="button-bar">
        <div ng-class="{'button-balanced': variability.day>0, 'button-assertive':  variability.day<0}" class="var-btn button">
          <strong>Day</strong>
          <br /> {{variability.day | number:2}}
          <br /> {{variability.dayPercent * 100 | number:2}}%
        </div>
        <div ng-class="{'button-balanced': variability.week>0, 'button-assertive':  variability.week<0}" class="var-btn button">
          <strong>Week</strong>
          <br /> {{variability.week | number:2}}
          <br /> {{variability.weekPercent * 100 | number:2}}%
        </div>
        <div ng-class="{'button-balanced': variability.month>0, 'button-assertive':  variability.month<0}" class="var-btn button">
          <strong>Month</strong>
          <br /> {{variability.month | number:2}}
          <br /> {{variability.monthPercent * 100 | number:2}}%
        </div>
        <div ng-class="{'button-balanced': variability.threeMonth>0, 'button-assertive':  variability.threeMonth<0}" class="var-btn button">
          <strong>3 Mo.</strong>
          <br /> {{variability.threeMonth | number:2}}
          <br /> {{variability.threeMonthPercent * 100 | number:2}}%
        </div>
      </div>

    </div>
    <div class="list">
      <div class="item item-divider">
        <div class="title">{{ timeperiod }} Price Chart</div>
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" data="data" labels="labels" chart-legend="true" series="series" chart-options="{showTooltips: false, datasetFill : false, animationSteps: 20}"></canvas>
      </div>
      <div class="button-bar">
        <div ng-click="updateChartPeriod('Day')" class="button">1d</div>
        <div ng-click="updateChartPeriod('Week')" class="button">1w</div>
        <div ng-click="updateChartPeriod('Month')" class="button">1m</div>
        <div ng-click="updateChartPeriod('Three Month')" class="button">3m</div>
        <div ng-click="updateChartPeriod('Six Month')" class="button">6m</div>
        <!--<div ng-click="updateChartPeriod('year')" class="button">1y</div>-->
      </div>
    </div>
  </ion-content>
</ion-view>
