<div id="settings-modal" class="modal" ng-controller="SettingsCtrl">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Settings</h1>
        <button class="button button-clear" ng-click="closeSettings()">Close</button>
    </ion-header-bar>
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Default Time Period
                </div>
                <select ng-model="settings[9].value" ng-change="updateSettings()">
                    <option value="Day">1 Day</option>
                    <option value="Week">1 Week</option>
                    <option value="Month">1 Month</option>
                    <option value="Three Month">3 Months</option>
                    <option value="Six Month">6 Months</option>
                </select>
            </label>

            <ion-checkbox ng-repeat="item in settings"
                          ng-show="item.type=='site'"
                          ng-model="item.checked"
                          ng-checked="item.checked"
                          ng-click="updateSettings()">
                {{ item.name }}
            </ion-checkbox>
        </div>
    </ion-content>
</div>