<ion-view view-title="{{ type }} {{ time }} Chart">
  <ion-content>
    <div class="list card">
      <div class="item">
        <canvas id="line" class="chart chart-line" data="data" labels="labels" chart-legend="true" series="series" chart-options="{showTooltips: false, datasetFill : false, animationSteps: 20}"></canvas>
      </div>
      <div class="button-bar">
        <div ng-click="updateChartPeriod('Day')" class="button">1d</div>
        <div ng-click="updateChartPeriod('Week')" class="button">1w</div>
        <div ng-click="updateChartPeriod('Month')" class="button">1m</div>
        <div ng-click="updateChartPeriod('Three Month')" class="button">3m</div>
        <div ng-click="updateChartPeriod('Six Month')" class="button">6m</div>
        <!--<div ng-click="updateChartPeriod('year')" class="button">1y</div>-->
      </div>
    </div>
  </ion-content>
</ion-view>
