<ion-view view-title="Exchanges">
  <ion-nav-buttons side="right">
    <a ng-click="showSettings()" class="button button-icon icon ion-gear-a"></a>
  </ion-nav-buttons>
  <ion-content class="padding" ng-init="doRefresh()">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-show="pricedata.prices" class="card">
    <a ng-show="settings[$index].checked" ng-repeat="price in pricedata.prices" class="item item-avatar" href="#/tab/site/{{price.title}}">
        <img ng-src="img/{{price.title}}.png">
        <h2>{{price.price}}</h2>
        <p>{{price.title}}</p>
      </a>
      <a>Last Update: {{pricedata.lastupdate}}</a>
    </div>
  </ion-content>
</ion-view>
