<ion-view view-title="Stats">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card" ng-init="doRefresh()">

            <a class="item item-icon-left">
                <i class="icon ion-arrow-up-c"></i>
                <span>{{stats.stats[0].day.high | number:2 }}</span>
                    <span class="item-note">
                      Day High
                    </span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-arrow-right-c"></i>
                <span>{{stats.stats[0].day.avg | number:2 }}</span>
                <span class="item-note">
                      Day Average
                    </span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-arrow-down-c"></i>
                <span>{{stats.stats[0].day.low | number:2 }}</span>
                    <span class="item-note">
                      Day Low
                    </span>
            </a>

            <a href="#/tab/stats/Volume" class="item item-icon-left">
                <i class="icon ion-arrow-swap"></i>
                <span>{{stats.stats[0].day.vol | number:4 }} BTC</span>
                    <span class="item-note">
                      Day Volume
                    </span>
            </a>
            <a href="#/tab/stats/Transactions" class="item item-icon-left">
                <i class="icon ion-paper-airplane"></i>
                <span>{{stats.stats[0].day.transactions | number:0 }} Transactions</span>
                    <span class="item-note">
                      Day Transactions
                    </span>
            </a>

            <a href="#/tab/stats/AvgTxSize" class="item item-icon-left">
                <i class="icon ion-code-working"></i>
                <span>{{(stats.stats[0].day.vol / stats.stats[0].day.transactions) | number:4 }} BTC</span>
                    <span class="item-note">
                      Avg Tx Size
                    </span>
            </a>

            <a href="#/tab/stats/TotalBTC" class="item item-icon-left">
                <i class="icon ion-social-bitcoin"></i>
                <span>{{stats.totalbtc | number:0 }} BTC</span>
                    <span class="item-note">
                      BTC Available
                    </span>
            </a>
            <a href="#/tab/stats/Difficulty" class="item item-icon-left">
                <i class="icon ion-ios-time-outline"></i>
                <span>{{stats.difficulty | number:0 }}</span>
                    <span class="item-note">
                      Mining Difficulty
                    </span>
            </a>
           

        </div>
    </ion-content>
</ion-view>
