<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="Prices" icon-off="ion-social-bitcoin-outline" icon-on="ion-social-bitcoin" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Stats Tab -->
  <ion-tab title="Stats" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>
  <!-- Chart Tab -->
  <ion-tab title="Chart" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/chart">
    <ion-nav-view name="tab-chart"></ion-nav-view>
  </ion-tab>
</ion-tabs>
