path.line
{
    fill: none;
    stroke: #000;
}

.var-btn{
    line-height:22px;

}
.var-price{
    line-height:22px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.title{
    text-align: center;
}